.header{
  background-color:#00FF00;
  text-align: center;
  font-size: 2em;
  width: 100%;
}
/** SearchPage CSS**/
#SearchPage{
  padding: 10px 2%;
}
#SearchPage #listPreferences .ui.divided.list{
  border:#000;
  margin-top: 10px;
  margin-bottom: 10px;
}
/** IndexPage CSS**/
#IndexPage .ui.button.fluid.homeButton{
  height: 26vh !important;
  margin-top: 1vh;
}

#IndexPage #userIcon{
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 3em;
}

#IndexPage #helpIcon{
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 3.5em;
}

#Date {
  font-size: 3em;
  text-align: center;
}

#Date #checkboxes {
    margin-top: 6vh;
}
#checkboxes div{
  margin:3vh;
}
#checkboxes div input{
  transform: scale(2);
}

$('.context.example .ui.sidebar')
  .sidebar({
    context: $('.context.example .bottom.segment')
  })
  .sidebar('attach events', '.context.example .menu .item')
;
